<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 매퍼 파일은 일반적으로 table 당 하나 -->
<mapper namespace="orm.mybatis.FinalMapper"> <!-- 패키지 명. 파일이름 -->
	<insert id="ptrinsert" parameterType="fitness.dto.RegistrationDto">
		insert into pt_register values(ptr_seq.nextval,#{tr_num},#{ptr_time},#{ptr_ok})
	</insert>




	<!-- staff 관련 -->
	<insert id="stfinsert" parameterType="fitness.dto.StaffDto">
		 insert into staff values(staff_seq.nextval, #{stf_name}, #{stf_phone}, sysdate , #{stf_picture}, #{pos_code}, #{ct_code})
	</insert>
	<select id="stflist" resultType="fitness.dto.StaffDto">
		select * from staff 
	</select>
	<select id="stfdetail" parameterType="int" resultType="fitness.dto.StaffDto">
		select * from staff where stf_num=#{value}
	</select>
	<update id="stfupdate" parameterType="fitness.dto.StaffDto">
		update staff set stf_name= #{stf_name}, stf_phone= #{stf_phone}, stf_picture= #{stf_picture}, 
										pos_code=#{pos_code}, ct_code= #{ct_code} where stf_num=#{stf_num}
	</update>
	<delete id="stfdelete" parameterType="int">
		delete from staff where stf_num=#{value}
	</delete>
	
	<!-- member 관련 -->
		<insert id="meminsert" parameterType="fitness.dto.MemberDto">
		 insert into member values(mem_seq.nextval, #{mem_name}, #{mem_phone}, #{mem_addr}, #{mem_email}, 
																	 #{mem_age}, #{mem_gen}, #{mem_birth}, sysdate , #{mem_picture}, #{ct_code})
	</insert>
	<select id="memlist" resultType="fitness.dto.StaffDto">
		select * from member 
	</select>
	<select id="memdetail" parameterType="int" resultType="fitness.dto.MemberDto">
		select * from member where mem_num=#{value}
	</select>
	<update id="memupdate" parameterType="fitness.dto.MemberDto">
		update member set mem_name= #{mem_name}, mem_phone= #{mem_phone}, mem_addr= #{mem_addr}, mem_email= #{mem_email},  
											     mem_age=#{mem_age}, mem_gen=#{mem_gen}, mem_birth=#{mem_birth}, 
												 mem_picture= #{mem_picture},  ct_code= #{ct_code} where mem_num=#{mem_num}
	</update>
	<delete id="memdelete" parameterType="int">
		delete from member where mem_num=#{value}
	</delete>
	
	<!--  -->
</mapper>