<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 매퍼 파일은 일반적으로 table 당 하나 -->
<mapper namespace="orm.mybatis.FinalMapper"> <!-- 패키지 명. 파일이름 -->
	<!--////////// 운동일지관련 - 작성자 : 고석곤 //////////-->	
    	<insert id="exloginsert" parameterType="fitness.dto.ExerciseLogDto">
			insert into exercise_Log values
			(exlog_seq.nextval,#{exlog_title },#{exlog_writer },#{exlog_content  },#{exlog_member  },sysdate )
		</insert>
		
		<select id="exloggetCount" resultType="int">
			select nvl(count(exlog_num),0) from exercise_Log	
		</select>
	
	<select id="exloglist" resultType="fitness.dto.ExerciseLogDto" parameterType="hashmap">
		<if test="field!=null">
		select * from(
	    select aa.*,rownum rnum from
	    (
		    select * from exercise_Log 
				where ${field} like '%' || #{keyword} || '%'
		    order by exlog_num desc
	    )aa
  		) <![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
		</if>
		<if test="field==null">
			select * from(
				select aa. *, rownum rnum from(
					select * from exercise_Log
					order by exlog_num desc
				)aa
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if> 
	</select>
    
    

	<!--////////// 환불관련 - 작성자 : 고석곤 //////////-->	
	<!-- 환불입력 -->
	<insert id="refundInset" parameterType="fitness.dto.RefundDto">
		insert into refund values(rf_seq.nextval, #{mem_num },sysdate , #{rg_num },#{ct_code },#{rg_type },#{refund_price })
	</insert>
	
	<!-- 환불리스트 -->
	<select id="refundlist" resultType="fitness.dto.RefundDto">
		select * from refund
	</select>
	<select id="refundrgnum" resultType="fitness.dto.RegistrationDto" parameterType="hashmap">
		select rg_num,rg_type from registration where mem_num=#{mem_num}
	</select>
	
	<!-- 총금액 -->
	<select id="totregimoney" resultType="fitness.dto.RegistrationDto" parameterType="int">
		select * from registration where mem_num=#{mem_num}	
	</select>
	
	<!-- 환불일정 -->
	<select id="ptgxoneday" resultType="fitness.dto.RefundDayImpleDto" parameterType="int">
		select * from 
		  ( select pt.mem_num,round(nvl((pt_expiration-ptr_initdate),0),0) as ptday,
		    round(nvl((pt_expiration-sysdate),0),0) as spsday
		    from ptperiod pt where mem_num=#{value})pp,
		   (select gx.mem_num, round( nvl((pro_expiration-pro_regdate),0),0) as gxday,
		    round(nvl((pro_expiration-sysdate),0),0) as sgxday
		    from properiod gx where mem_num=#{value})gg
		where pp.mem_num=#{value} and pp.mem_num=gg.mem_num (+)		   
	</select>
	
	<!-- 회원이름검색 memSearchList -->
	<select id="memNaSeList" parameterType="hashmap" resultType="fitness.dto.MemberDto">		
			select * from(
				select bb.mem_num,bb.mem_name,bb.mem_phone,bb.ct_name,rownum rnum from(
					select m.*,c.ct_name from member m , center c
					where mem_name like '%' || #{refundname} || '%' and m.ct_code = c.ct_code
					order by mem_num desc
				)bb
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	
	<select id="memNaCount" parameterType="hashmap" resultType="int">
		select count(mem_num) from 
		(select bb.mem_num,bb.mem_name,bb.mem_phone,bb.ct_name,rownum rnum from(
					select m.*,c.ct_name from member m , center c
					where mem_name like '%' || #{refundname} || '%' and m.ct_code = c.ct_code
					order by mem_num desc
				)bb)
	</select>

	<!--////////// gx관련 - 작성자 : 고석곤 //////////-->
	<insert id="gxinsert" parameterType="fitness.dto.GxregisterDto">
		insert into gx_register values(
			gx_seq.nextval,#{stf_num},#{ct_name},#{mon09},#{tue09},#{wed09},#{thu09},#{fri09},#{sat09},#{sun09}
			,#{mon10},#{tue10},#{wed10},#{thu10},#{fri10},#{sat10},#{sun10}
			,#{mon11},#{tue11},#{wed11},#{thu11},#{fri11},#{sat11},#{sun11}
			,#{mon18},#{tue18},#{wed18},#{thu18},#{fri18},#{sat18},#{sun18}
			,#{mon19},#{tue19},#{wed19},#{thu19},#{fri19},#{sat19},#{sun19}
			,#{mon20},#{tue20},#{wed20},#{thu20},#{fri20},#{sat20},#{sun20}
		)
	</insert>
	
	<select id="getInfo" resultType="fitness.dto.GxregisterDto" parameterType="int">
		select * from gx_register where gx_num=#{value}
	</select>
	<select id="gxlist" resultType="fitness.dto.GxregisterDto" >
		select * from gx_register 
	</select>
	<select id="gxsubject" resultType="fitness.dto.GxsubjectDto">
		select * from gxsubject
	</select>
	
	<!--////////// pt관련 - 작성자 : 고석곤 //////////-->	
	<delete id="ptDelete" parameterType="int">
		delete from pt_register where ptr_num=#{value}
	</delete>
	
	<select id="ptrcount" parameterType="int" resultType="int">
		select ptr_count from ptsign where rg_num=#{value}
	</select>
	
	
	<select id="regtDetail"  resultType="fitness.dto.RegistrationDto" parameterType="int">
		select max(nvl(rg_num,0)) rg_num from registration where rg_type='PT' and mem_num=#{value}
	</select>	
	
	<select id="ptrgDetail" parameterType="int" resultType="fitness.dto.PtregisterDto">
		select * from pt_register where rg_num=#{value}
	</select>
	
	<select id="ptmaxNum" resultType="int">
		select max(nvl(ptr_num,0)) ptr_num from pt_register
	</select>
	
	<select id="ptstafflist" resultType="fitness.dto.StaffDto">
		select * from staff
	</select>
	
	<insert id="ptrinsert" parameterType="fitness.dto.PtregisterDto">
		insert into pt_register values(ptr_seq.nextval,#{tr_num},#{rg_num},#{ptr_initdate},#{ptr_time},#{ptr_count},#{ct_code},'승인대기')
	</insert>
	<select id="ptrinfo" resultType="fitness.dto.PtregisterDto" parameterType="int">
		select * from pt_register where ptr_num=#{value}
	</select>
	<select id="ptr_numinfo" resultType="fitness.dto.PtregisterDto" parameterType="int">
		select * from pt_register where tr_num=#{value}
	</select>
	<select id="ptr_rg_numinfo" resultType="fitness.dto.PtregisterDto" parameterType="String">
		select * from pt_register where rg_num=#{value}
	</select>
	
	<select id="ptrlistAll" parameterType="hashmap" resultType="fitness.dto.PtregisterDto">
		select aa.*,m.mem_name from 
		(select pt.*,rg.mem_num from pt_register pt, registration rg 
			where pt.rg_num=rg.rg_num and pt.tr_num=#{tr_num}
		)aa,member m
		where aa.mem_num=m.mem_num
	</select>
	
	<select id="ptrmemlistAll" parameterType="hashmap" resultType="fitness.dto.PtrMemDto">
		select ptr_initdate, ptr_time, ptr_count, ptr_ok, mem_name, stf_name from 
			(select aa.*,pt.ptr_initdate, pt.ptr_time, pt.ptr_count, pt.ptr_ok,  pt.tr_num  from pt_register pt,
			    (select mem_name, rg_num from member m, registration r where m.mem_num=r.mem_num and m.mem_num=#{mem_num})aa
			    where pt.rg_num=aa.rg_num)bb, 
			(select tr_num, stf_name from trainer tr, staff st where tr.stf_num=st.stf_num)tt
		where tt.tr_num=bb.tr_num
	</select>
	
	<update id="ptrResult" parameterType="fitness.dto.PtregisterDto">
		update pt_register set ptr_ok=#{ptr_ok} where ptr_num=#{ptr_num}
	</update>

<!--////////// mem_att 관련 - 작성자 : 유예진 //////////-->
	<insert id="mattinsert" parameterType="fitness.dto.Mem_attDto">
		insert into mem_att values(matt_seq.nextval, sysdate, null, 0,#{mem_num}, #{ct_code} )	
	</insert>
		<update id="mattupdate" parameterType="int">
		update mem_att set out_date=sysdate,	x_time=round((sysdate-in_date)*24)
		where matt_num=#{value}
	</update>
<select id="mattlist" parameterType="hashmap" resultType="fitness.dto.Mem_attDto">
		select * from 
			(select rownum rnum, matt.* from 
				(select sa.matt_num,  sa.in_date, sa.out_date,sa.x_time ,s.mem_num, s.mem_name ,
					 s.mem_phone , s.reg_code, s.reg_name, sa.ct_code, sa.ct_name
						from (select st.mem_num,st.mem_name,st.mem_phone,c.ct_code reg_code,c.ct_name reg_name
                        			 from member st, center c where st.ct_code=c.ct_code) s,
                             		(select a.*,c.ct_name  from mem_att a, center c where a.ct_code=c.ct_code)sa 
                         where s.mem_num=sa.mem_num
				<if test="mtype!=null">
					and ${mtype} like '%' || #{matt_keyword}|| '%'
				</if>
		 order by sa.in_date desc)matt
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="mattCnt" resultType="int" parameterType="hashmap">
		select count(matt_num) cnt  from 
		(select sa.matt_num,  sa.in_date, sa.out_date,sa.x_time ,s.mem_num, s.mem_name ,
		s.mem_phone , 	s.reg_code, s.reg_name, sa.ct_code, sa.ct_name	from 
		(select st.mem_num,st.mem_name,st.mem_phone,c.ct_code reg_code,c.ct_name reg_name
		from member st, center c where st.ct_code=c.ct_code) s,
		(select a.*,c.ct_name  from mem_att a, center c where a.ct_code=c.ct_code)sa 
		where s.mem_num=sa.mem_num
		<if test="mtype!=null">
		and  ${mtype} like '%' || #{matt_keyword}|| '%'
		</if>
		 order by sa.in_date desc)
	</select>

	
<!--////////// stf_att 관련 - 작성자 : 유예진 //////////-->
	<insert id="sattinsert" parameterType="fitness.dto.Stf_attDto">
		insert into stf_att values(satt_seq.nextval, sysdate, null, 0,#{stf_num}, #{ct_code} )	
	</insert>
	<update id="sattupdate" parameterType="int">
		update stf_att set out_date=sysdate,	work_time=round((sysdate-in_date)*24)
		where satt_num=#{value}
	</update>
	<select id="sattlist" parameterType="hashmap" resultType="fitness.dto.Stf_attDto">
		select * from 
			(select rownum rnum, satt.* from 
				(select sa.satt_num,  sa.in_date, sa.out_date,sa.work_time ,s.stf_num, s.stf_name ,
					 s.stf_phone , 	s.reg_code, s.reg_name, sa.ct_code, sa.ct_name
						from (select st.stf_num,st.stf_name,st.stf_phone,c.ct_code reg_code,c.ct_name reg_name
                        			 from staff st, center c where st.ct_code=c.ct_code) s,
                             		(select a.*,c.ct_name  from stf_att a, center c where a.ct_code=c.ct_code)sa 
                         where s.stf_num=sa.stf_num
		 order by sa.in_date desc)satt
					 <where>
				<if test="stype!=null">
				and  ${stype} like '%' || #{satt_keyword}|| '%'
				</if>
		 </where>
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="sdetail" parameterType="hashmap" resultType="fitness.dto.Stf_attDto">
		select * from 
			(select rownum rnum, satt.* from 
				(select sa.satt_num,  sa.in_date, sa.out_date,sa.work_time ,s.stf_num, s.stf_name ,
					 s.stf_phone , 	s.reg_code, s.reg_name, sa.ct_code, sa.ct_name
						from (select st.stf_num,st.stf_name,st.stf_phone,c.ct_code reg_code,c.ct_name reg_name
                        			 from staff st, center c where st.ct_code=c.ct_code) s,
                             		(select a.*,c.ct_name  from stf_att a, center c where a.ct_code=c.ct_code)sa 
                         where s.stf_num=sa.stf_num and s.stf_num=${stf_num}
             <if test="start_date!=null">
					and in_date	 between #{start_date} and to_char(last_day(#{start_date}))
			</if>
		 order by sa.in_date desc)satt
				 <where>
				<if test="stype!=null">
				and  ${stype} like '%' || #{satt_keyword}|| '%'
				</if>
		 </where>
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="sattCnt" resultType="int" parameterType="hashmap">
		select count(satt_num) cnt  from 
		(select sa.satt_num,  sa.in_date, sa.out_date,sa.work_time ,s.stf_num, s.stf_name ,
		s.stf_phone , 	s.reg_code, s.reg_name, sa.ct_code, sa.ct_name	from 
		(select st.stf_num,st.stf_name,st.stf_phone,c.ct_code reg_code,c.ct_name reg_name
		from staff st, center c where st.ct_code=c.ct_code) s,
		(select a.*,c.ct_name  from stf_att a, center c where a.ct_code=c.ct_code)sa 
		where s.stf_num=sa.stf_num
		<if test="stf_num>0">
			and s.stf_num= #{stf_num}
		</if>
		<if test="start_date!=null">
			and in_date	 between #{start_date} and to_char(last_day(#{start_date}))
		</if>
		 order by sa.in_date desc)satt
		 <where>
				<if test="stype!=null">
				and  ${stype} like '%' || #{satt_keyword}|| '%'
				</if>
		 </where>
	</select>
<!--////////// payment관련 - 작성자 : 유예진 //////////-->
	<select id="spayCnt" resultType="int" parameterType="hashmap">
		select sum(work_time) from stf_att where stf_num=#{stf_num}  and in_date
		 between #{start_date} and to_char(last_day(#{start_date})) 

	</select>
	<insert id="payinsert" parameterType="fitness.dto.PaymentDto">
		insert into payment values(pay_seq.nextval, #{stf_num}, #{time_sum}, #{pay_tot}, sysdate)
	</insert>
	<select id="paylist">
		select * from( select stf.*,rownum rnum from
			(select * from staff	
			<where>
			
				<if test="stype!=null">
				and  ${stype} like '%' || #{satt_keyword}|| '%'
				</if>
			
		</where>
			)stf
		)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	
	
<!--////////// trainer 관련 - 작성자 : 유예진 //////////-->
	<insert id="trinsert" parameterType="fitness.dto.TrainerDto">
		insert into trainer values(tr_seq.nextval, #{stf_num}, #{tr_career}, #{tr_intro} )
	</insert>
	<update id="trupdate" parameterType="fitness.dto.TrainerDto" >
		update trainer set stf_num=#{stf_num}, tr_career=#{tr_career}, tr_intro=#{tr_intro} where tr_num=#{tr_num}
	</update>
	<select id="trlist" resultType="fitness.dto.TrainerDto" parameterType="hashmap">
		select * from( select  tr.*,rownum rnum from
			(select t.*,stf_name,c.ct_code,c.ct_name,p.* from trainer t, staff s,center c, position p 
			where t.stf_num=s.stf_num and s.ct_code=c.ct_code and s.pos_code=p.pos_code	)tr
		)
		<if test="startRow!=null">
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
		<if test="ttype!=null">
				and  ${ttype} like '%' || #{tkeyword}|| '%'
		</if>
	</select>
	<select id="trdetail" parameterType="int" resultType="fitness.dto.TrainerDto">
		select * from trainer where tr_num=#{value}
	</select>
		<select id="trdetail2" parameterType="int" resultType="fitness.dto.TrainerDto">
		select * from trainer where stf_num=#{value}
	</select>
	<delete id="trdelete" parameterType="int">
		delete from trainer where tr_num=#{value}
	</delete>
	
	<select id="getTrCount" resultType="int"  parameterType="hashmap">
		select count(tr_num) cnt from
		( select  tr.*,rownum rnum from
			(select t.*,stf_name,c.ct_code,c.ct_name,p.* from trainer t, staff s,center c, position p 
			where t.stf_num=s.stf_num and s.ct_code=c.ct_code and s.pos_code=p.pos_code	)tr
		<if test="ttype!=null">
				where  ${ttype} like '%' || #{tkeyword}|| '%'
		</if>
		)
	</select>
	

<!--////////// department 관련 - 작성자 : 유예진 //////////-->
	<insert id="deptinsert" parameterType="fitness.dto.DepartmentDto">
		insert into department values(#{dept_code},#{dept_name})
	</insert>
	<select id="deptlist" resultType="fitness.dto.DepartmentDto">
		select * from department
	</select>
	<select id="deptdetail" resultType="fitness.dto.DepartmentDto" parameterType="int">
		select * from department where dept_code=#{value}	
	</select>
	<update id="deptupdate" parameterType="fitness.dto.DepartmentDto">
		update department set dept_name=#{dept_name} where dept_code=#{dept_code} 
	</update>
	<delete id="deptdelete" parameterType="int">
		delete department where dept_code=#{value}
	</delete>
<!--////////// position 관련 - 작성자 : 유예진 //////////-->
	<insert id="posinsert" parameterType="fitness.dto.PositionDto">
		insert into position values(#{pos_code},#{pos_name},#{dept_code})
	</insert>
	<select id="poslist" resultType="fitness.dto.PositionDto">
		select * from position
	</select>
	<select id="posdetail" resultType="fitness.dto.PositionDto" parameterType="String">
		select * from position where pos_code=#{value}	
	</select>
	<update id="posupdate" parameterType="fitness.dto.PositionDto">
		update position set pos_name=#{pos_name}, dept_code=#{dept_code} where pos_code=#{pos_code}
	</update>
	<delete id="posdelete" parameterType="String">
		delete from position where pos_code=#{value}
	</delete>
<!--////////// center 관련 - 작성자 : 유예진 //////////-->
	<insert id="ctinsert" parameterType="fitness.dto.CenterDto">
		insert into center values(ct_seq.nextval, #{ct_name}, #{ct_tel}, #{ct_addr}, #{ct_intro})
	</insert>
	<select id="ctlist" resultType="fitness.dto.CenterDto">
		select * from center
	</select>
	<select id="ctdetail" resultType="fitness.dto.CenterDto" parameterType="String" >
		select * from center where ct_code=#{value}
	</select>
	<update id="ctupdate" parameterType="fitness.dto.CenterDto">
		update center set ct_name=#{ct_name}, ct_tel=#{ct_tel},ct_addr= #{ct_addr}, ct_intro=#{ct_intro} where ct_code=#{ct_code}
	</update>
	<delete id="ctdelete" parameterType="int" >
		delete center where ct_code=#{value}
	</delete>


<!--////////// staff 관련 - 작성자 : 유예진 //////////-->
	<insert id="stfinsert" parameterType="fitness.dto.StaffDto">
		 insert into staff values(staff_seq.nextval, #{stf_name}, #{stf_phone}, sysdate , #{stf_picture}, #{pos_code}, #{ct_code})
	</insert>
	<select id="stflist" resultType="fitness.dto.StaffDto" parameterType="hashmap">
		select * from( select  stf.*,rownum rnum from
				(select s.*,c.ct_name,p.pos_name from staff s, center c, position p 
				where s.ct_code=c.ct_code and s.pos_code=p.pos_code
					<if test="ct_code!=null">
				and s.ct_code like '%'||#{ct_code}||'%'
			</if>
			<if test="pos_code!=null">
				and s.pos_code like '%'||#{pos_code}||'%'
			</if>
			<if test="stf_name!=null">
				and s.stf_name like '%'||#{keyword}||'%'
			</if>
			<if test="stf_num!=null">
				and s.stf_num like '%'||#{keyword}||'%'
			</if>
			<if test="stf_phone!=null">
				and s.stf_phone like '%'||#{keyword}||'%'
			</if>
				<if test="stype!=null">
				and  s.${stype} like '%' || #{keyword}|| '%'
			</if>
	
				)stf
			)
			
		
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="getStfCount" resultType="int" parameterType="hashmap">
		select count(stf_num) cnt from 
				(select s.*,c.ct_name,p.pos_name from staff s, center c, position p 
					where s.ct_code=c.ct_code and s.pos_code=p.pos_code
			<if test="ct_code!=null">
				and s.ct_code like '%'||#{ct_code}||'%'
			</if>
			<if test="pos_code!=null">
				and s.pos_code like '%'||#{pos_code}||'%'
			</if>
			<if test="stf_name!=null">
				and s.stf_name like '%'||#{keyword}||'%'
			</if>
			<if test="stf_num!=null">
				and s.stf_num like '%'||#{keyword}||'%'
			</if>
			<if test="stf_phone!=null">
				and s.stf_phone like '%'||#{keyword}||'%'
			</if>
				<if test="stype!=null">
				and  s.${stype} like '%' || #{keyword}|| '%'
			</if>
		)
	</select>
	<select id="stfdetail" parameterType="int" resultType="fitness.dto.StaffDto">
		select * from staff where stf_num=#{value}
	</select>
	<update id="stfupdate" parameterType="fitness.dto.StaffDto">
		update staff set stf_name= #{stf_name}, stf_phone= #{stf_phone}, stf_picture= #{stf_picture}, 
										pos_code=#{pos_code}, ct_code= #{ct_code} where stf_num=#{stf_num}
	</update>
	<delete id="stfdelete" parameterType="int">
		delete from staff where stf_num=#{value}
	</delete>
	


<!--////////// registraion 관련(수강등록-프로그램등록) - 작성자:이성진 //////////-->
	<!-- 회원 수강등록(프로그램) insert 
		1. 수강등록하고자 하는 회원번호를 검색한다.
		2. 뽑아온 번호와 기타정보들을 insert 한다.
	-->
	<!-- 1.(table명: member)회원검색(selectBox:mem_num,mem_name,mem_phone) -->
	<select id="searchMemNum" parameterType="hashmap" resultType="fitness.dto.MemberDto">
		<if test="memSearch!=null">
			select * from(
				select bb.*, rownum rnum from(
					select * from member
					where ${memSearch} like '%' || #{keyword} || '%'
					order by mem_num desc
				)bb
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
		<if test="memSearch==null">
			select * from(
				select aa. *, rownum rnum from(
					select * from member
					order by mem_num desc
				)aa
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
	</select>
	
	<!-- 2.(table명: programprice) insert 할 때 selectBox에 넣을 (단과과목)프로그램 이름 뽑아오기 -->
	<!-- 2.insert 할 때 selectBox에 넣을 (헬스&GX등록)프로그램 이름 뽑아오기 -->
	<select id="programName" parameterType="hashmap" resultType="fitness.dto.ProgramPriceDto">
		select * from programprice
	</select>
	<!-- 2. (헬스&GX)프로그램 선택하면, input type="text"에 가격 입력하기 -->
	<select id="programPrice" parameterType="String" resultType="fitness.dto.ProgramPriceDto">
		select * from programprice where pro_name=#{value}
	</select> 
	
	<!-- 2.(table명: ptprice) insert 할 때 selectBox에 넣을 (pt)프로그램 이름 뽑아오기 -->
	<select id="ptProgramName" parameterType="hashmap" resultType="fitness.dto.PtPriceDto">
		select * from ptprice
	</select>

	<!-- 2. (pt)프로그램 선택하면, input type="text"에 가격 입력하기 -->
	<select id="ptPrice" parameterType="String" resultType="fitness.dto.PtPriceDto">
		select * from ptprice where pt_name=#{value}
	</select> 
	
<!--////////// 수강등록 관련(회원등록) - 작성자:이성진 //////////-->
	<!-- 1.insert - registration(기본정보등록) table -->
	<insert id="regiInsert" parameterType="fitness.dto.RegistrationDto">
		insert into registration values(regi_seq.nextval,#{mem_num},#{rg_type},#{rg_price},#{locker_price},#{wear_price})
	</insert>
	<!-- (insert)2.registration 테이블의 rg_num의 큰번호 받아오기 -->
	<select id="rgNum" resultType="int">
		select max(nvl(rg_num,0)) rg_num from registration
	</select>

	<!-- 1.insert - prosign(단과과목등록) table -->
	<insert id="prosignInsert" parameterType="fitness.dto.ProsignDto">
		insert into prosign values(prosign_seq.nextval,#{rg_num},#{mem_num},#{pro_name},#{pro_code})
	</insert>
	<!-- 1.insert - ptsign(pt등록) table -->
	<insert id="ptsignInsert" parameterType="fitness.dto.PtsignDto">
		insert into ptsign values(ptsign_seq.nextval,#{rg_num},#{mem_num},#{pt_code},#{pt_name},#{ptr_count})
	</insert>
	
	<!-- 1.insert - properiod(단과-운동기간등록) table -->
	<insert id="properiodInsert" parameterType="fitness.dto.ProperiodDto">
		insert into properiod values(properiod_seq.nextval,#{rg_num},#{mem_num},#{pro_signmonth},sysdate,add_months(sysdate,${pro_signmonth}))
	</insert>
	<!-- 1.insert - ptperiod(pt-운동기간등록) table -->
	<insert id="ptperiodInsert" parameterType="fitness.dto.PtperiodDto">
		insert into ptperiod values(ptperiod_seq.nextval,#{rg_num},#{mem_num},#{pt_signmonth},sysdate, add_months(sysdate ,${pt_signmonth}))
	</insert>
	
	<!-- 2.select - registration(기본정보등록) table -->
	<!-- 전체 글의 갯수 -->
	<select id="getCountRegi" resultType="int">
		select count(rg_num) cnt from registration
	</select>
	<!-- 전체목록보기 -->
	<select id="regiListAll" parameterType="hashmap" resultType="fitness.dto.RegistrationDto">
		select * from(
			select aa.*,rownum rnum from(
				select r.*,m.mem_name from registration r, member m where r.mem_num=m.mem_num
				<if test="mnum!=null">
					and r.mem_num=#{mnum}
				</if>
				order by rg_num desc
			)aa
		)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<!-- 회원번호에 따른 과목유형(rg_type)별 전체목록보기 -->
	<!-- 단과과목 등록정보뽑아오기-->
	<select id="regiSimpleListOne" parameterType="hashmap" resultType="fitness.dto.ProsignDto">
		
			select * from prosign s, properiod p 
			where s.rg_num=p.rg_num
		and s.mem_num=#{mem_num} and s.rg_num=#{rg_num}
	</select>
	<!-- pt과목 등록정보뽑아오기-->
	<select id="regiPTListOne" parameterType="hashmap" resultType="fitness.dto.PtsignDto">
			select * from ptsign s, ptperiod p
			where s.rg_num=p.rg_num
		and s.mem_num=#{mem_num} and s.rg_num=#{rg_num}
	</select>

	
	<!-- 3.update하기 위한 getInfo -->
	<select id="regiGetInfo" parameterType="hashmap" resultType="fitness.dto.RegistrationDto">
		select * from registration where mem_num=#{mem_num} and rg_num=#{rg_num}
	</select>

	<!-- 4.delete 수강정보 -registration(기본정보등록) table -->
	<delete id="regiDel" parameterType="int">
		delete from registration where rg_num=#{rg_num}
	</delete>
	<!-- 4.delete 수강정보 :prosign(단과과목등록) table -->
	<delete id="prosignDel" parameterType="int" >
		delete from prosign where rg_num=#{rg_num}
	</delete>
	<!-- 4.delete 수강정보 :ptsign(pt등록) table -->
	<delete id="ptsignDel" parameterType="int">
		delete from ptsign where rg_num=#{rg_num}
	</delete>
	<!-- 4.delete 수강정보 :properiod(단과-운동기간등록) table-->
	<delete id="properiodDel" parameterType="int">
		delete from properiod where rg_num=#{rg_num}
	</delete> 
	<!-- 4.delete 수강정보 :ptperiod(pt-운동기간등록) table -->
	<delete id="ptperiodDel" parameterType="int">
		delete from ptperiod where rg_num=#{rg_num}
	</delete>
	
<!--////////// member 관련(회원등록) - 작성자:이성진 //////////-->
	<!-- 회원기본정보등록 insert -->
	<insert id="meminsert" parameterType="fitness.dto.MemberDto">
		 insert into member values(mem_seq.nextval,#{mem_name},#{mem_phone},#{mem_addr},#{mem_email},#{mem_age},#{mem_gen},#{mem_birth},sysdate,#{mem_picture},#{ct_code})
	</insert>
	<!-- member페이징처리(전체글의 갯수) -->
	<select id="getMemCount" resultType="int">
		select count(mem_num) cnt from member
	</select>
	<!-- 전체목록보기 listAll -->
	<select id="memSelectAll" resultType="fitness.dto.MemberDto">
		select * from(
			select  aa.*,rownum rnum from
			(
				select * from member
				order by mem_name asc
			)aa
		)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>

	</select>
	<!-- 한명상세보기 ListOne -->
	<select id="memListOne" parameterType="int" resultType="fitness.dto.MemberDto">
		select * from member where mem_num=#{value}
	</select>
	
	<!-- 회원삭제 memDelete -->
	<delete id="memDelete" parameterType="int">
		delete from member where mem_num=#{value}
	</delete>
	
	<!-- 회원수정 memUpdate -->
	<update id="memUpdate" parameterType="fitness.dto.MemberDto">
		update member set mem_name= #{mem_name}, mem_phone= #{mem_phone}, mem_addr= #{mem_addr}, mem_email= #{mem_email},mem_age=#{mem_age}, mem_gen=#{mem_gen}, mem_birth=#{mem_birth}, mem_picture= #{mem_picture},  ct_code= #{ct_code} where mem_num=#{mem_num}
	</update>
	<!-- 회원검색 memSearchList -->
	<select id="memSearchList" parameterType="hashmap" resultType="fitness.dto.MemberDto">
		<if test="memSearch!=null">
			select * from(
				select bb.*, rownum rnum from(
					select * from member
					where ${memSearch} like '%' || #{keyword} || '%'
					order by mem_num desc
				)bb
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
		<if test="memSearch==null">
			select * from(
				select aa. *, rownum rnum from(
					select * from member
					order by mem_num desc
				)aa
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
	</select>
	<!-- member검색페이징처리(검색글의 갯수) -->
	<select id="getMemSearchCount" parameterType="hashmap" resultType="int">
		select count(mem_num) cnt from member 
			where 
		<if test="memSearch!=null">
			${memSearch} like '%' || #{keyword} || '%'
		</if>
	</select>
	
	<!--////////// notice 공지사항  - 작성자 : 김재원 //////////-->
	
	<insert id="Nocinsert" parameterType="fitness.dto.NoticeDto">
		insert into notice values(notice_seq.nextval,#{stf_num},#{nt_title},#{nt_content},sysdate,#{nt_hit})
	</insert>
	
	<select id="getNocCount" parameterType="hashmap"  resultType="int">
		select nvl(count(nt_num),0) from 
		(select aa.*,rownum rnum from
	    (select n.*,s.stf_name 
	    from notice n,staff s
	    where n.stf_num=s.stf_num
		<if test="nt_num!=null">
		    OR nt_num like '%'||#{nt_num}||'%'
		</if>
		<if test="title!=null">
		    OR nt_title like '%'||#{keyword}||'%'
		</if>
			<if test="writer!=null">
		    OR stf_name like '%'||#{keyword}||'%'
		</if>
		    order by n.nt_num desc)aa
	  	)
	</select>	
	
	<select id="NocSelectAll" parameterType="hashmap" resultType="fitness.dto.NoticeDto">
		select * from(
	    select aa.*,rownum rnum from
	    (select n.*,s.stf_name 
	    from notice n,staff s
	    where n.stf_num=s.stf_num  
		<if test="title!=null">   
		    and nt_title like '%'||#{keyword}||'%'
		</if>   
		<if test="writer!=null">
		    and stf_name like '%'||#{keyword}||'%'
		</if>
		    order by n.nt_num desc)aa
	  	)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	
	<select id="NocListOne" resultType="fitness.dto.NoticeDto" parameterType="int">
		select n.nt_num, n.stf_num, n.nt_title, n.nt_content,n.nt_date,n.nt_hit,s.stf_name
		 from notice n,staff s
	    where n.stf_num=s.stf_num and nt_num=#{value}
	</select>
	
	<delete id="NocDelete" parameterType="int">
		delete from notice where nt_num=#{value}
	</delete>
	
	<update id="NocUpdate" parameterType="fitness.dto.NoticeDto">
		update notice set nt_title=#{nt_title},nt_content=#{nt_content} where nt_num=#{nt_num}
	</update>
	
	<update id="addHit" parameterType="int">
		<![CDATA[
			UPDATE notice set nt_hit = NVL(nt_hit, 0) + 1 where nt_num = #{nt_num}	
		]]>                    
	</update>
<!--////////// 로그인 - 작성자:이성진 //////////-->
   <!-- 회원인경우 -->
   <select id="loginMem" parameterType="hashmap" resultType="hashmap">
      select * from member where mem_name=#{mem_name} and mem_phone=#{mem_phone}
   </select>
   <!-- 직원인경우 -->
   <select id="loginAdmin" parameterType="hashmap" resultType="hashmap">
      select * from staff where stf_name=#{stf_name} and stf_phone=#{stf_phone}
   </select>
   
<!--////////// QnA board(답변형게시판) - 작성자:이성진 //////////-->
	<!-- insert -->
	<insert id="qnaInsert" parameterType="fitness.dto.QnaboardDto">
		insert into qnaboard values(#{qna_num},#{mem_num},#{stf_num},#{qna_title},#{qna_content},sysdate,0,#{qna_ref},#{qna_lev},#{qna_step})
	</insert>
	<!-- 가장 큰 글번호 얻어오기 -->
	<select id="qnaMaxNum" resultType="int">
		select NVL(max(qna_num),0) from qnaboard
	</select>
	<!-- 답글인경우 -->
	<update id="qnaRe" parameterType="fitness.dto.QnaboardDto">
		update qnaboard set qna_step=#{qna_step}+1 where qna_ref=#{qna_ref} and qna_step>#{qna_step}
	</update>
	
	<!-- 조회수증가 -->
	<update id="qnaAddHit" parameterType="int">
		update qnaboard
		set qna_hit=qna_hit+1
		where qna_num=#{value}
	</update>
	<!-- 전체글의 갯수 -->
	<select id="qnaCount" resultType="int">
		select count(qna_num) cnt from qnaboard
	</select>
	<!-- 전체목록보기(selectAll) -->
	<select id="qnaListAll" parameterType="hashmap" resultType="fitness.dto.QnaboardDto">
		select * from(
			select aa.*,rownum rnum from(
				select * from qnaboard
				order by qna_ref desc, qna_step asc
			)aa
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<!-- 글읽기(selectOne) -->
	<select id="qnaListOne" parameterType="int" resultType="fitness.dto.QnaboardDto">
		select * from qnaboard where qna_num=#{value}
	</select>
	<!-- 수정하기 -->
	<update id="qnaUpdate" parameterType="fitness.dto.QnaboardDto">
		update qnaboard
		set qna_title=#{qna_title}, qna_content=#{qna_content}
		where qna_num=#{qna_num}
	</update>
	<!-- 삭제하기 -->
	<delete id="qnaDelete" parameterType="int">
		delete from qnaboard where qna_num=${value}
	</delete>
	<!-- qna글 검색하기 -->
	<select id="qnaSearch" parameterType="hashmap" resultType="fitness.dto.QnaboardDto">
		<if test="field!=null">
			select * from(
				select bb.*, rownum rnum from(
					select * from qnaboard
					where ${field} like '%' || #{keyword} || '%'
					order by qna_num desc
				)bb
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
		<if test="field==null">
			select * from(
				select aa. *, rownum rnum from(
					select * from qnaboard
					order by qna_num desc
				)aa
			)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		</if>
	</select>
	<!-- qna검색페이징처리(검색글의 갯수) -->
	<select id="getQnaSearchCount" parameterType="hashmap" resultType="int">
		select count(mem_num) cnt from qnaboard where ${field} like '%' || #{keyword} || '%'
	</select>
	
<!--////////// Event board(이벤트 등록하기)(table: event) - 작성자:이성진 //////////-->
	<!-- insert -->
	<insert id="eventInsert" parameterType="fitness.dto.EventDto">
		insert into event values(event_seq.nextval,#{ev_title},#{ev_picture},#{ev_content},#{stf_num},sysdate)
	</insert>
	<!-- selectAll(selectNew 최신글 페이지)(전체보기) -->
	<select id="eventSelectAll" resultType="fitness.dto.EventDto">
		select * from(
			select aa.*,rownum rnum from(
				select * from event
				order by ev_num desc
			)aa
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<!-- 페이징처리 (selectNew 최신글 페이지)-->
	<select id="getEventCount" resultType="int">
		select count(ev_num) cnt from event
	</select>
	<!-- selectAll(선택한 글 : selectListOne 페이지)(전체보기) -->
	<select id="eventSelectAll2" resultType="fitness.dto.EventDto">
		select * from(
			select aa.*,rownum rnum from(
				select * from event
				order by ev_num desc
			)aa
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<!-- 페이징처리(선택한 글 : selectListOne 페이지) -->
	<select id="getEventCount2" resultType="int">
		select count(ev_num) cnt from event
	</select>
	<!-- selectNew(최신글 상세보기) -->
	<select id="eventSelectNew" resultType="fitness.dto.EventDto">
		select * from event where ev_num=(
		select NVL(max(ev_num),0) ev_num from event
		)
	</select>
	<!-- selectListOne(선택한 글 상세보기) -->
	<select id="eventListOne" parameterType="int" resultType="fitness.dto.EventDto">
		select * from event where ev_num=#{value}
	</select>
	<!-- 삭제하기 -->
	<delete id="eventDel" parameterType="int">
		delete from event where ev_num=#{value}
	</delete>
	<!-- 이벤트글이 삭제되면 해당글의 댓글들도 모두 삭제 -->
	<delete id="delAnswer" parameterType="int">
		delete from eventcomments where ev_num=#{value}
	</delete>
	<!-- 수정하기 -->
	<update id="eventUpdate" parameterType="fitness.dto.EventDto">
		update event 
		set ev_title=#{ev_title}, ev_content=#{ev_content}, ev_picture=#{ev_picture} 
		where ev_num=#{ev_num}
	</update>
<!--////////// Event board(댓글달기)(table: EventComments) - 작성자:이성진 //////////-->
	<!-- insert -->
	<insert id="eventCommentsInsert" parameterType="fitness.dto.EventCommentsDto">
		insert into eventcomments values(#{comm_num},#{ev_num},#{mem_num},#{stf_num},#{comments},sysdate,#{comm_ref},#{comm_lev},#{comm_step})
	</insert>
	<!-- 가장 큰 글번호 얻어오기(insert) -->
	<select id="commMaxNum" resultType="int">
		select NVL(max(comm_num),0) from eventcomments
	</select>
	<!-- 답글인 경우(insert) -->
	<update id="commRe" parameterType="fitness.dto.EventCommentsDto">
		update eventcomments
		set comm_step=#{comm_step}+1
		where comm_ref=#{comm_ref} and comm_step>#{comm_step}
	</update>
	
	<!-- (이벤트최신글페이지:eventSelectNew.jsp)댓글 전체목록 보기 -->
	<select id="commList" parameterType="hashmap" resultType="fitness.dto.EventCommentsDto">
		select * from(
			select aa.*,rownum rnum from(
				select * from eventcomments where ev_num=#{ev_num}
				order by comm_ref desc, comm_step asc
			)aa
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	
	<!-- (이벤트최신글페이지:eventSelectNew.jsp)전체 댓글의 갯수(select-페이징) -->
	<select id="commCnt" parameterType="int" resultType="int">
		select count(comm_num) cnt from eventcomments where ev_num=#{ev_num}
	</select>
	
	<!-- (이벤트선택한글페이지:eventSelectOne.jsp)댓글 전체목록 보기 -->
	<select id="commListOne" parameterType="hashmap" resultType="fitness.dto.EventCommentsDto">
		select * from(
			select aa.*,rownum rnum from(
				select * from eventcomments where ev_num=#{ev_num}
				order by comm_ref desc, comm_step asc
			)aa
		)<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	
	<!-- (이벤트선택한글페이지:eventSelectOne.jsp)전체 댓글의 갯수(select-페이징) -->
	<select id="commCntOne" parameterType="int" resultType="int">
		select count(comm_num) cnt from eventcomments where ev_num=#{ev_num}
	</select>
	
	<!-- 삭제하기 -->
	<delete id="commDelete" parameterType="int">
		delete from eventcomments where comm_num=#{value}
	</delete> 
	
	<!-- 수정하기 -->
	<update id="commUpdate" parameterType="fitness.dto.EventCommentsDto">
		update eventcomments
		set comments=#{comments}
		where comm_num=#{comm_num}
	</update>
	
<!--////////// freeboard 자유게시판 - 작성자 : 김재원 //////////-->
	<insert id="fbinsert" parameterType="fitness.dto.FreeboardDto">
		insert into freeboard values(free_seq.nextval,#{mem_num},#{fb_title},#{fb_content},sysdate,#{fb_hit},#{fb_ref},#{fb_lev},#{fb_step})
	</insert>

	<update id="fbupdate" parameterType="fitness.dto.FreeboardDto">
		update freeboard set mem_num=#{mem_num},#{fb_title},#{fb_content},sysdate,#{fb_hit},#{fb_ref},#{fb_lev},#{fb_step}
	</update>

	<select id="getfbCount" parameterType="hashmap"  resultType="int">
		select nvl(count(fb_num),0) from 
		(select aa.*,rownum rnum from
	    (select f.*,m.mem_name 
	    from freeboard f,member m
	    where f.mem_num=m.mem_num
	    <if test="mem_num!=null">
	    	or mem_num like '%'||#{mem_num}||'%'
	    </if>
		<if test="titel!=null">
		    or fb_title like '%'||#{keyword}||'%'
		</if>
		<if test="content!=null">
			or fb_content like '%'||#{keyword}||'%'
		</if>
		    order by f.fb_num desc)aa
	  	)
	</select>	
	
	<select id="fblist" parameterType="hashmap" resultType="fitness.dto.FreeboardDto">
		select * from ( 
		select aa.*,rownum rnum from (
		select f.*,m.mem_name 
		from freeboard f inner join member m
	    on m.mem_num = f.mem_num
	    <where >
	    <if test="name!=null" >
			 mem_name like '%'||#{keyword}||'%'
		</if>
		<if test="title!=null">
			or fb_title like '%'||#{keyword}||'%'
		</if>
		<if test="content!=null">
			or fb_content like '%'||#{keyword}||'%'
		</if>
	    
	    </where>
		order by fb_ref desc,fb_step asc)aa)
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>	
	</select>

	<select id="fbdetail" parameterType="int" resultType="fitness.dto.FreeboardDto">
		select f.*,m.mem_name
		from freeboard f,member m
	    where f.mem_num=m.mem_num and fb_num=#{value}
	</select>

	<delete id="fbdelete" parameterType="int">
		delete from freeboard where fb_num=#{fb_num}
	</delete>
	
 	<update id="fbaddHit" parameterType="int">
		<![CDATA[
			UPDATE freeboard set fb_hit = NVL(fb_hit, 0) + 1 where fb_num = #{fb_num}	
		]]>                    
	</update> 
	
	<select id="fbmaxnum" resultType="int">
		select NVL(max(fb_num),0) from freeboard
	</select>
	
	<update id="fbrep" parameterType="fitness.dto.FreeboardDto">
		update freeboard set fb_step=#{fb_step}+1 where fb_ref=#{fb_ref} and fb_step>#{fb_step}
	</update>	


	
		
	
</mapper>